@font-face {
    font-family: 'Lyon Text';
    src: url('LyonText-BoldItalic.woff2') format('woff2'),
        url('LyonText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text';
    src: url('LyonText-BlackItalic.woff2') format('woff2'),
        url('LyonText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text';
    src: url('LyonText-Black.woff2') format('woff2'),
        url('LyonText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text';
    src: url('LyonText-Bold.woff2') format('woff2'),
        url('LyonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text';
    src: url('LyonText-Semibold.woff2') format('woff2'),
        url('LyonText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text';
    src: url('LyonText-RegularItalic.woff2') format('woff2'),
        url('LyonText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text Regular No. 2';
    src: url('LyonText-RegularNo2.woff2') format('woff2'),
        url('LyonText-RegularNo2.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text';
    src: url('LyonText-Regular.woff2') format('woff2'),
        url('LyonText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text Regular No. 2';
    src: url('LyonText-RegularNo2Italic.woff2') format('woff2'),
        url('LyonText-RegularNo2Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon Text';
    src: url('LyonText-SemiboldItalic.woff2') format('woff2'),
        url('LyonText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

